absl-py
aiohappyeyeballs
aiohttp
aiohttp-retry
aiosignal
altair
annotated-types
ansicon
appdirs
asgiref
asttokens
astunparse
asyncio
attrs
autobahn
Automat
backoff
bcrypt
beautifulsoup4
black
blessed
blinker
blis
bootstrap4
branca
cachetools
catalogue
certifi
cffi
channels
channels_redis
chardet
charset-normalizer
click
cloudpathlib
colorama
comm
confection
constantly
contourpy
crayons
cryptography
cssselect
cycler
cymem
daphne
dataclasses
decorator
defusedxml
Django
django-cors-headers
django-otp
djangorestframework
djangorestframework-simplejwt
djongo
dnspython
duckduckgo_search
editor
executing
fake-useragent
ffmpeg
ffmpeg-python
filelock
flake8
Flask
flask-cors
Flask-JWT-Extended
Flask-SQLAlchemy
flatbuffers
folium
fonttools
fpdf
fpdf2
frozenlist
fsspec
future
gast
generics
gitdb
GitPython
google-auth
google-auth-oauthlib
google-pasta
google-search
google-search-results
googlesearch-python
googletrans
greenlet
grpcio
gunicorn
h11
h2
h5py
hpack
hstspreload
httpcore
httpx
huggingface-hub
hyperframe
hyperlink
idna
imbalanced-learn
incremental
iniconfig
inquirer
ipython
ipywidgets
itemadapter
itemloaders
itsdangerous
jax
jaxlib
jedi
Jinja2
jinxed
jmespath
joblib
jsonschema
jsonschema-specifications
jupyterlab_widgets
keras
kiwisolver
langcodes
language_data
libclang
llvmlite
loguru
lxml
marisa-trie
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mccabe
mdurl
ml-dtypes
more-itertools
mpmath
msgpack
multidict
murmurhash
mypy-extensions
mysql-connector-python
namex
narwhals
networkx
nltk
numba
numpy
oauthlib
openai-whisper
opencage
opencv-python
opencv-python-headless
opt_einsum
optional-django
optree
outcome
packaging
pandas
paramiko
parsel
parso
pathspec
pdfminer.six
pdfplumber
phonenumbers
piexif
Pillow
platformdirs
plotly
pluggy
preshed
primp
prompt_toolkit
propcache
Protego
protobuf
psutil
psycopg2
pure_eval
pyarrow
pyasn1
pyasn1_modules
pyclipper
pycodestyle
pycparser
pycryptodome
pydantic
pydantic_core
pydeck
PyDispatcher
pydub
pyflakes
pygame
Pygments
PyJWT
pymongo
PyMuPDF
PyNaCl
pyOpenSSL
pyparsing
PyPDF2
pypdfium2
pyperclip
PySocks
pytesseract
pytest
pytest-django
python-bidi
python-dateutil
python-docx
python-dotenv
python-googlesearch
python-magic
python-nmap
python-whois
pyttsx4
pytz
pyuseragents
PyYAML
queuelib
razorpay
react
readchar
redis
referencing
regex
requests
requests-file
requests-oauthlib
rfc3986
rich
rpds-py
rsa
runs
safetensors
scapy
scikit-learn
scipy
Scrapy
seaborn
selenium
service-identity
shellingham
six
sklearn-compat
smart-open
smmap
sniffio
SocksiPy-branch
sortedcontainers
sounddevice
soupsieve
spacy
spacy-legacy
spacy-loggers
SpeechRecognition
SQLAlchemy
sqlparse
srsly
stack-data
stegano
stem
streamlit
sympy
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
thinc
threadpoolctl
tiktoken
tk
tldextract
tokenizers
toml
torch
torchaudio
tornado
torpy
tqdm
traitlets
transformers
trio
trio-websocket
twilio
Twisted
txaio
typer
typing_extensions
tzdata
urllib3
uvicorn
vaderSentiment
w3lib
waitress
wasabi
watchdog
wcwidth
weasel
webdriver-manager
websocket-client
websockets
Werkzeug
whisper
whitenoise
widgetsnbextension
wrapt
wsproto
xgboost
xmod
xyzservices
yarl
zope.interface
